
        <div role="tabpanel" class="tab-pane active fadeIn" id="menu">
            <ul class="sidebar-accordion">

                <li class="list-title">Main</li>
                <li>
                    <a href="/Admin/"><i class="icon-display4"></i>Anasayfa</a>
                </li>
                <li class="list-title">Site Menüsü</li>
                <li>
                    <a href="#"><i class="icon-briefcase"></i> <span>Mamül Ürün Yönetimi</span></a>
                    <ul>

                        <li><a href="/Kategori/Index">Mamül Listesi</a></li>
                        <li><a href="/Kategori/Sorgu">Mamül Ürün Sorgulama</a></li>
                        <li><a href="/Kategori/Ekle">Mamül Giriş</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-briefcase"></i> <span>Yarı Mamül Ürün Yönetimi</span></a>
                    <ul>

                        <li><a href="/Urun/Index">Yarı Mamül Listesi</a></li>
                        <li><a href="/Urun/Sorgu">Yarı Mamül Ürün Sorgulama</a></li>
                        <li><a href="/Urun/Ekle">Yarı Mamül Giriş</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-briefcase"></i> <span>Ayarlar</span></a>
                    <ul>
                        <li><a href="/Admin/Ekle">Yonetici Tanımla</a></li>
                        <li><a href="/Raf/Ekle">Raf Tanımla</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-briefcase"></i> <span>Raporlar</span></a>
                    <ul>
                        <li><a href="/Rapor/TarihArasi">Tarihler Arası Genel</a></li>
                    </ul>
                </li>
            </ul>
        </div>
